
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    /* font-size: 18px; */
    /* background: theme('colors.fourthColor'); */
  
    /* Center slide text vertically */
    display: flex;
    /* gap: 400px; */
    justify-content: center;
    align-items: center;
  }
  

  